/* Global styles for the project. e.g. headings and buttons */
/* Mobile-first design */
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap");

/* Colors */
$blank: white;
$very-dark-blue: #1b1d23;
$dark-grey: #60636d;
$medium-grey: #7d828f;
$light-grey: #c8ccd8;
$very-light-grey: #eeeff4;
$errors-red: #df5656;

/* General things */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Spartan, sans-serif;
}

@mixin screenTablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin screenDesktop {
  @media screen and (min-width: 1440px) {
    @content;
  }
}

.container {
  max-width: 1140px;
}

.block {
  margin: 50px 0; //top and bottom margin to separate blocks
  padding: 0 32px; //general left-right padding. not every block has this, though.
}

.block + .block {
  margin-top: 72px;
}

@include screenTablet {
  .block + .block {
    margin-top: 200px;
  }
}

/* Typography and Buttons */
html {
  font-size: 62.5%;
}
.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.large-header,
h1,
h2,
h3 {
  font-weight: 700;
  margin: 0;
}

.large-header {
  display: none; /*the few large headers don't appear on mobile design */
}

h1 {
  font-size: 4.8rem;
  line-height: 4.8rem;
  letter-spacing: -0.12rem;
}

h2 {
  font-size: 4rem;
  line-height: 4.8rem;
  letter-spacing: -0.143rem;
}

h3 {
  font-size: 1.8rem;
  line-height: 2.5rem;
  letter-spacing: 0;
}

p {
  font-size: 1.5rem;
  line-height: 2.5rem;
  letter-spacing: 0;
  color: $dark-grey;
}

a {
  text-decoration: none;
}

.button-link {
  display: inline-block;
  width: fit-content;
}

.button {
  border: 0;
  background: $very-dark-blue;
  color: $blank;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2.5rem;
  outline: 0;
  padding: 2.4rem 3.2rem;
  text-align: center;
  text-transform: capitalize;
  transition: background 0.3s;
  white-space: nowrap;

  &:hover {
    background: $dark-grey;
  }

  &:active {
    background: $light-grey;
    transition: color 0.1s;
  }

  &__arrow {
    margin-left: 24px;
    margin-right: 4px;
    height: 18px;
    filter: brightness(10);
    transition: margin 0.3s;
  }

  &:hover &__arrow {
    margin-left: 28px;
    margin-right: 0px;
  }
}

.button--block {
  padding: 3.2rem 2.8rem;

  .button__arrow {
    margin-left: 0px;
    margin-right: 4px;
  }

  &:hover .button__arrow {
    margin-left: 4px;
    margin-right: 0px;
  }
}

@include screenTablet() {
  .block {
    margin: 10px 0; //top and bottom margin to separate blocks
    padding: 0 96px; //general left-right padding. not every block has this, though.
  }

  .large-header {
    color: $very-light-grey;
    display: block;
    font-size: 12rem;
    line-height: 20rem;
    letter-spacing: -0.3rem;
  }

  h1 {
    font-size: 8rem;
    line-height: 8rem;
    letter-spacing: -0.2rem;
  }

  h2 {
    font-size: 5.6rem;
    line-height: 5.6rem;
    letter-spacing: -0.2rem;
  }

  h3 {
    /* no change */
  }

  p {
    line-height: 2.5rem;
  }
}

@include screenDesktop() {
  .block {
    padding: 0; //no more general block padding
  }

  .large-header {
    font-size: 20rem;
    line-height: 20rem;
    letter-spacing: -0.5rem;
  }

  h1 {
    /* no change from tablet */
  }

  h2 {
    /* no change from tablet */
  }

  h3 {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }
}
