.featured-block {
  display: grid;
  grid-template-areas: "a" "b" "c";
  position: relative;
  margin: 10rem auto;

  &__title {
    grid-area: a;
  }

  .featured__button {
    align-self: center;
    grid-area: c;
    justify-self: center;
    max-width: 573px;
  }
}

.featured-grid {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 2.4rem;
  grid-area: "b";

  margin: 2.4rem auto 2.4rem auto;
  justify-items: center;

  &__project {
    position: relative;
    margin: 0 auto;
  }

  .portfolio-grid__project {
    transition: filter 0.5s;
  }

  .portfolio-grid__project:hover {
    filter: brightness(1.3);
  }

  .project__gradient {
    background: rgba(0, 0, 0, 0.2); /*fallback color */
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5018207966780462) 0%,
      rgba(0, 0, 0, 0.014425838694852922) 100%
    );
    position: absolute;

    height: 99.6%;
    width: 100%;
  }

  .project__info {
    position: absolute;
    bottom: 2.4rem;
    left: 2.4rem;
  }

  .project__number {
    position: absolute;
    line-height: 8rem;
    top: 4rem;
    right: 1.6rem;
    opacity: 0.5;
  }

  .project__image {
    width: 100%;
  }

  h3,
  p {
    margin: 0;
    color: $blank;
  }
}

@include screenTablet {
  .featured-grid {
    margin-bottom: 0;
    grid-area: c;

    .project__image {
      max-width: 600px;
    }
  }
  .featured-block {
    grid-template-areas: "a b" "c c";
    row-gap: 2rem;

    .featured__button {
      grid-area: b;
      justify-self: end;
    }
  }
}

@include screenDesktop {
  .featured-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3.2rem;
  }

  .portfolio-grid__project {
    .project__number {
      top: 8rem;
      right: -1rem;
    }
  }
}
