.form-block {
  margin-left: auto;
  margin-right: auto;
  display: grid;

  &__title {
    margin-bottom: 48px;
  }

  &__form {
    position: relative;
  }

  input,
  textarea {
    display: block;
    width: 100%;
    border: 0;
    border-bottom: 1px solid $very-dark-blue;
    transition: all 0.1s;
    outline: none;
    font-size: 2rem;
    padding-left: 35px;
    padding-bottom: 24px;
    font-weight: 700;
    color: $medium-grey;

    &:focus {
      border-bottom: 3px solid $very-dark-blue;
      color: $very-dark-blue;
    }

    &:user-invalid {
      color: $errors-red;
      border-color: $errors-red;
    }

    &:user-invalid + span::before {
      font-size: 1.5rem;
      font-weight: 700;
      color: $errors-red;
      position: absolute;
      right: 0;
      margin-top: -4rem;
    }
  }

  &__form-name:user-invalid + span:before,
  &__form-message:user-invalid + span:before {
    content: "Can't be empty";
  }

  &__form-email:user-invalid + span:before {
    content: "Please enter a valid email";
  }

  textarea {
    margin-top: 40px;
    padding-bottom: 60px;
    resize: none;
  }

  input:not(:first-of-type) {
    margin-top: 40px;
  }

  &__submit {
    float: right;
  }

  &__success-message {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
  }
}

@include screenTablet {
  .form-block {
    &__title {
      margin-bottom: 64px;
    }
  }
}

@include screenDesktop {
  .form-block {
    grid-template-columns: 1fr 2fr;

    &__title {
      padding-right: 4rem;
    }
  }
}
