.sidebar {
  background-color: $very-light-grey;
  overflow: hidden;
  position: fixed;
  right: 0;
  width: 90%;
  transition: width 0.5s;
  z-index: 5;

  &__links {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    list-style: none;
    overflow: hidden;
    padding: 4.5rem;
    white-space: nowrap;
  }

  &__item a {
    text-decoration: none;
    font-size: 1.8rem;
    line-height: 2.5rem;
    letter-spacing: 0;
    color: $very-dark-blue;
  }

  &__item + &__item {
    padding-top: 3.2rem;
  }

  &--closed {
    width: 0;
  }
}

.shadow {
  background-color: rgba(0, 0, 0, 0.75);
  width: 100vw;
  height: 100%;
  position: fixed;
  -webkit-transition: visibility 0.5s, opacity 0.5s;
  transition: visibility 0.5s, opacity 0.5s;

  z-index: 4;

  &--closed {
    visibility: "hidden";
    opacity: 0;
    width: 0;
  }
}

@include screenTablet {
  .shadow,
  .sidebar {
    display: none;
  }
}
