.welcome-block {
  margin: 5rem auto;

  padding-top: 7rem;
  position: relative;

  &::before {
    border-top: 1px solid $light-grey;
    top: 0;
    content: "";
    position: absolute;
    width: 65px;
  }

  h2 {
    margin-bottom: 3rem;
  }

  p {
    max-width: 60ch;
  }

  &__image {
    display: none;
  }
}

@include screenTablet {
  #welcome-block {
    margin-top: 10px;
  }

  .welcome-block {
    margin-left: auto;
    margin-right: auto;
    //padding-top: 0;
    &::before {
      display: none;
    }
  }
}

@include screenDesktop {
  #welcome-block {
    margin-top: 30px;
  }

  .welcome-block {
    &__image {
      display: block;
      justify-self: end;
    }

    &__text {
      margin-left: 190px;
      margin-top: 7rem;
    }

    &__grid {
      display: grid;
      grid-template-columns: 1.3fr 1fr;
      margin-top: 10rem;
    }

    &__large-header {
      position: absolute;
    }
  }
}
